@font-face {
  font-family: "Muli";
  src: url("/assets/font/woff2/Muli-Bold.woff2") format("woff2"),
    url("/assets/font/woff2/Muli-BoldItalic.woff2") format("woff2"),
    url("/assets/font/woff2/Muli-ExtraBold.woff2") format("woff2"),
    url("/assets/font/woff2/Muli-Italic.woff2") format("woff2"),
    url("/assets/font/woff2/Muli-Regular.woff2") format("woff2"),
    url("/assets/font/woff2/Muli-SemiBoldItalic.woff2") format("woff2"),
    url("/assets/font/woff/Muli-Bold.woff") format("woff"),
    url("/assets/font/woff/Muli-BoldItalic.woff") format("woff"),
    url("/assets/font/woff/Muli-ExtraBold.woff") format("woff"),
    url("/assets/font/woff/Muli-Italic.woff") format("woff"),
    url("/assets/font/woff/Muli-Regular.woff") format("woff"),
    url("/assets/font/woff/Muli-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "MyriadPro";
  src: url("/assets/font/woff2/MyriadPro-Regular.woff2") format("woff2"),
    url("/assets/font/woff/MyriadPro-Regular.woff") format("woff");
}

.header {
  background-image: url(../assets/img/head/bg.png);
  max-width: 1920px;
  min-height: 1080px;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__top {
  display: flex;
}

.header__nav {
}

.header__nav-list {
  list-style-type: none;
}

.header__nav-item {
}

.header__nav-link {
  text-decoration: none;
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.32px;
  color: #ffffff;
}

.logo {
  width: 211px;
  height: 72px;
}

.header__logo {
}

.header__personal {
}

.header__personal-list {
  list-style-type: none;
}

.header__personal-item {
}

.header__personal-link {
}

.header__searh {
  width: 20px;
  height: 20px;
}

.header__user {
  width: 20px;
  height: 24px;
}

.header__cart {
  width: 24px;
  height: 22px;
}

.header__span {
  font-family: Muli-Regular;
  font-size: 10px;
  color: #000000;
}

.header__social {
}

.header__social-list {
  list-style-type: none;
}

.header__social-item {
}

.header__social-link {
}

.header__facebook {
  width: 10px;
  height: 17px;
}

.header__pinterest {
  width: 16px;
  height: 19px;
}

.header__instagram {
  width: 18px;
  height: 18px;
}

.btn {
  display: block;
  text-decoration: none;
  height: 60px;
  border-radius: 30px;
  font-family: Muli-Regular;
  font-weight: 800;
  font-size: 21px;
  color: #ffffff;
}

.header__btn {
  width: 280px;
  height: 70px;
  border-style: hidden;
  border-radius: 35px;
  background-color: #0aa566;
  font-size: 24px;
  letter-spacing: -0.48px;
  padding: 22px 124px 25px 39px;
}

.smoothies {
  max-width: 1920px;
  min-height: 870px;
}

.smoothies__wrap {
}

.title {
  font-family: Muli-Regular;
  font-size: 50px;
  letter-spacing: -1px;
  color: #f7ae3b;
}

.smoothies__title {
  font-family: MyriadPro-Regular;
  font-weight: normal;
}

.text {
  font-family: Muli-Regular;
  font-size: 18px;
  line-height: 1,94;
  text-align: center;
  color: #1e1e1e;
}

.smoothies__text {
  width: 915px;
  height: 122px;
}

.smoothies__block {
}

.smoothies__unit {
}

.smoothies__img {
}

.heading {
  font-family: Muli-Regular;
  font-weight: 800;
  letter-spacing: normal;
}

.smoothies__heading {
  font-size: 25px;
  line-height: 1, 6;
  letter-spacing: -0, 5px;
  color: #f2612d;
}

.about {
  background-color: #12836f;
  max-width: 1920px;
  min-height: 800px;
}

.about__wrap {
}

.about__img {
}

.about__content {
}

.about__title {
  font-size: 55px;
  line-height: 1, 09;
  letter-spacing: -1, 1px;
  color: #ffffff;
}

.about__span {
  color: #cae941;
}

.about__list {
  padding-left: 60px;
}

.about__item {
  list-style-image: url("../assets/img/about/icon.png");
  font-family: Muli-Regular;
  font-size: 21px;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 19px;
}

.about__strong {
  font-weight: 800;
}

.about__btn {
  width: 380px;
  border: solid 2px #f8b231;
  padding: 16px 98px 23px 29px;
}

.products {
  max-width: 1920px;
  min-height: 719px;
}

.products__wrap {
  display: flex;
}

.products__cart {
  width: 480px;
  height: 720px;
}

.products__cart--brown {
  background-color: #672816;
}

.products__cart--green {
  background-color: #198370;
}

.products__cart--yellow {
  background-color: #f3b139;
}

.products__cart--orange {
  background-color: #c04519;
}

.products__img {
}

.products__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 0, 92;
  color: #ffffff;
}

.products__capacity {
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.52;
  color: #ffffff;
}

.products__btn {
  width: 204px;
  border: solid 2px #ffffff;
  letter-spacing: -0.48px;
  padding: 16px 130px 24px 36px;
}

.story {
  max-width: 1920px;
  min-height: 881px;
}

.story__wrap {
}

.story__img {
  width: 585px;
  height: 601px;
}

.story__content {
}

.story__title {
}

.story__text {
  width: 511px;
  height: 118px;
  text-align: left;
}

.story__btn {
  width: 301px;
  background-color: #0aa566;
  border-style: hidden;
  padding: 20px 147px 24px 30px;
}

.testimonials {
  background-color: #6b2b20;
  max-width: 1920px;
  min-height: 720px;
}

.testimonials__wrap {
}

.testimonials__title {
}

.testimonials__span {
  color: #f2612d;
}

.testimonials__content {
}

.testimonials__post {
  width: 455px;
  height: 130px;
  text-align: center;
}

.testimonials__quote {
  color: #ffffff;
}

.testimonials__cite {
  font-weight: 600;
  font-style: italic;
  line-height: 2.5;
  color: #f7ae3b;
}

.testimonials__avatar {
}

.blog {
  max-width: 1920px;
  min-height: 796px;
}

.blog__wrap {
}

.blog__title {
}

.blog__content {
}

.blog__img {
}

.blog__advice {
}

.blog__topic {
}

.blog__heading {
  font-size: 30px;
  line-height: 1, 33;
  letter-spacing: -0.6px;
  text-align: left;
  color: #f2612d;
}

.blog__time {
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
  line-height: 2.19;
  letter-spacing: normal;
  text-align: left;
  color: #1e1e1e;
}

.blog__text {
  width: 472px;
  height: 122px;
  text-align: left;
}

.blog__link {
  text-decoration: none;
}

.blog__strong {
  font-weight: 800;
  font-style: italic;
}

.instagram {
  max-width: 1920px;
  min-height: 459px;
}

.instagram__wrap {
  padding-bottom: 5px;
}

.instagram__title {
  font-size: 24px;
  letter-spacing: -0, 48px;
  color: #0aa566;
  margin: 0;
  padding-bottom: 45px;
}

.instagram__galery {
  display: flex;
}

.instagram__img {
  max-width: 384px;
  min-height: 384px;
}

.footer {
  max-width: 1920px;
  min-height: 437px;
}

.footer__wrap {
  padding-top: 5px;
}

.footer__top {
  background-color: #f6a839;
  min-height: 377px;
}

.footer__container {
}

.footer__logo {
}

.footer__info {
}

.footer__title {
  font-size: 26px;
  letter-spacing: -0, 52px;
  color: #ffffff;
}

.footer__list {
  width: 159px;
  height: 122px;
  list-style-type: none;
}

.footer__item {
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.94;
  letter-spacing: -0.36px;
  text-align: left;
  color: #6d450c;
}

.footer__link {
  text-decoration: none;
}

.footer__payment {
}

.footer__pay {
}

.footer__pay-img {
}

.footer__subscribe {
}

.footer__form {
  width: 495px;
  height: 60px;
  border-radius: 30px;
  border-style: hidden;
  background-color: #ffffff;
}

.footer__input {
  width: 214px;
  height: 13px;
  margin: 23px 218px 24px 63px;
  border-style: hidden;
}

::placeholder {
  font-family: Muli-Regular;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.34px;
  text-align: left;
  color: #6d450c;
}

.footer__btn {
  padding: 0;
  background-color: transparent;
  border-style: hidden;
}

.footer-span {
  font-family: Muli-Regular;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.36px;
  color: #6d450c;
}

.footer__social-list {
  list-style-type: none;
  margin: 0;
}

.footer__social-item {
}

.footer__social-link {
}

.footer__social-img {
}

.footer__bottom {
  background-color: #682819;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  font-family: Muli;
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #af8a82;
}










.header__shop-btn {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 70px;
  border-radius: 35px;
  border-color: transparent;
  background-color: #0aa566;
  transition: border 500ms ease;
}

.header__shop-btn:focus,
.header__shop-btn:hover {
  border: 1px solid #000;
}
