@font-face {
  font-family: "Muli-Bold";
  src: url("/assets/font/woff2/Muli-Bold.woff2") format("woff2"),
    url("/assets/font/woff/Muli-Bold.woff") format("woff");
}

@font-face {
  font-family: "Muli-BoldItalic";
  src: url("/assets/font/woff2/Muli-BoldItalic.woff2") format("woff2"),
    url("/assets/font/woff/Muli-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Muli-ExtraBold";
  src: url("/assets/font/woff2/Muli-ExtraBold.woff2") format("woff2"),
    url("/assets/font/woff/Muli-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Muli-Italic";
  src: url("/assets/font/woff2/Muli-Italic.woff2") format("woff2"),
    url("/assets/font/woff/Muli-Italic.woff") format("woff");
}

@font-face {
  font-family: "Muli-Regular";
  src: url("/assets/font/woff2/Muli-Regular.woff2") format("woff2"),
    url("/assets/font/woff/Muli-Regular.woff") format("woff");
}

@font-face {
  font-family: "Muli-SemiBoldItalic";
  src: url("/assets/font/woff2/Muli-SemiBoldItalic.woff2") format("woff2"),
    url("/assets/font/woff/Muli-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "MyriadPro";
  src: url("/assets/font/woff2/MyriadPro-Regular.woff2") format("woff2"),
    url("/assets/font/woff/MyriadPro-Regular.woff") format("woff");
}

.container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../assets/img/head/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__wrapper {
  max-width: 1720px;
  width: 100%;
  height: 315px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__top {
  max-width: 1720px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  flex-wrap: wrap;
  */
  /*
  margin-top: 90px;
  */
  /*
  margin-bottom: 125px;
  */
}

.header__nav-bay {
  max-width: 1720px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger-btn {
  width: 50px;
  height: 50px;
  padding: 8px;
  /*
  background-color: transparent;
  */
  border: none;
  position: fixed;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #0aa566;
  z-index: 2;
  display: none;
}

.header__burger-btn-icon {
  width: 100%;
}

.header__nav {
  max-width: 540px;
  width: 100%;
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__nav-item:nth-child(n + 1) {
  margin-right: 35px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  text-decoration: none;
  font-family: Muli-Bold;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.32px;
  color: #ffffff;
}

.logo {
  max-width: 270px;
  width: 100%;
}

.logo:hover {
  opacity: 0;
  transition: 2s;
  /*
  box-shadow: 0px 0px 30px 20px #f1f2f5;
  */
}

.header__logo {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  /*
  margin-bottom: 110px;
  */
}

.header__buy {
  max-width: 420px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__personal-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__personal-item:nth-child(n + 1) {
  margin-right: 45px;
}

.header__personal-item-cart {
  margin-right: 135px;
  position: relative;
}

.header__span {
  font-family: Muli-Regular;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #000000;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 22px;
  bottom: 17px;
}

.header__social {
  position: relative;
}

.header__social::before {
  content: url(../assets/img/head/line.png);
  position: absolute;
  left: -85px;
  top: 5px;
}

.header__social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__social-item {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__social-item:nth-child(n + 1) {
  margin-right: 10px;
}

.header__social-item:last-child {
  margin-right: 0;
}

.btn {
  display: block;
  text-decoration: none;
  height: 60px;
  border-radius: 30px;
  font-family: Muli-ExtraBold;
  font-weight: 800;
  font-size: 21px;
  color: #ffffff;
}

.header__btn {
  max-width: 280px;
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 35px;
  background-color: #0aa566;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.48px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
}

.header__btn::after {
  content: "";
  background-image: url(../assets/img/head/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 40px;
  top: 0;
}

.header__btn:hover::after {
  transform: translate(20px);
  transition: 1.2s;
}

.header__btn:hover {
  background-color: #30aa30;
  border: 2px solid white;
}

.smoothies__wrapper {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 10px 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Muli-ExtraBold;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #f7ae3b;
}

.smoothies__title {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 55px;
}

.text {
  font-family: Muli-Regular;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #1e1e1e;
}

.smoothies__text {
  max-width: 915px;
  line-height: 1.94;
  margin-bottom: 60px;
}

.smoothies__block {
  display: flex;
  flex-wrap: wrap;
}
.smoothies__unit {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smoothies__img:hover {
  transform: scale(1.4);
  transition: 1.5s;
}

.smoothies__unit:nth-child(1n + 1) {
  border-right: 2px solid #f6edde;
  border-bottom: 2px solid #f6edde;
}

.smoothies__unit:nth-child(4n + 4) {
  border-right: none;
}

.smoothies__unit:nth-child(n + 5) {
  border-bottom: none;
}

.smoothies__img {
  max-width: 75px;
  width: 100%;
  margin-top: 30px;
}

.heading {
  font-family: Muli-ExtraBold;
  font-weight: 800;
  letter-spacing: normal;
  text-align: center;
}

.smoothies__heading {
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #f2612d;
  margin-top: 27px;
  margin-bottom: 45px;
}

.about {
  background-color: #12836f;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about__img {
  max-width: 690px;
  width: 100%;
  transform: translateY(85px);
  z-index: 1;
}

.about__img:hover {
  transform: rotate(-7deg);
  /*
  opacity: 0;
  */
  transition: 1.5s;
}

.about__content {
  max-width: 590px;
  margin-left: 140px;
  margin-right: 145px;
}

.about__title {
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -1.1px;
  color: #ffffff;
  margin-top: 95px;
}

.about__span {
  color: #cae941;
  position: relative;
}

.about__span::after {
  content: "";
  background-image: url(../assets/img/about/line.png);
  width: 450px;
  height: 13px;
  position: absolute;
  left: -10px;
  top: 60px;
}

.about__list {
  margin-left: 37px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.about__item {
  list-style-image: url(../assets/img/about/icon.png);
  font-family: MuliMuli-ExtraBold;
  font-size: 21px;
  line-height: 2;
  color: #ffffff;
  padding-left: 10px;
}

.about__btn {
  max-width: 380px;
  width: 100%;
  line-height: 1.2;
  border: solid 2px #f8b231;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 95px;
  position: relative;
}

.about__btn::after {
  content: "";
  background-image: url(../assets/img/about/arrow.png);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 40px;
}

.products__wrapper {
  display: flex;
}

.products__cart {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 5px 80px;
}

.products__cart:hover {
  transform: rotateY(360deg);
  transition: 4s;
}

.products__cart--brown {
  background-color: #672816;
}

.products__cart--green {
  background-color: #198370;
}

.products__cart--yellow {
  background-color: #f3b139;
}

.products__cart--orange {
  background-color: #c04519;
}

.products__img {
  max-width: 120px;
  width: 100%;
  margin-bottom: 35px;
}

.products__heading {
  font-size: 24px;
  font-family: Muli-Bold;
  font-weight: bold;
  line-height: 0.92;
  color: #ffffff;
  margin-bottom: 15px;
}

.products__capacity {
  font-size: 21px;
  font-family: Muli-Italic;
  font-weight: normal;
  font-style: italic;
  line-height: 1.52;
  color: #ffffff;
  margin-bottom: 65px;
}

.products__btn {
  max-width: 205px;
  width: 100%;
  border: solid 2px #ffffff;
  line-height: 1.2;
  display: flex;
  align-items: center;
  padding-left: 35px;
  position: relative;
}

.products__btn::after {
  content: "";
  background-image: url(../assets/img/prod/arrow.png);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 35px;
}

.story__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 120px 0 160px;
}

.story__content {
  max-width: 510px;
  margin-right: 205px;
}

.story__title {
  line-height: 0.8;
  margin-top: 140px;
  margin-bottom: 45px;
}

.story__text {
  text-align: left;
  line-height: 1.94;
  letter-spacing: -0.1px;
  margin-bottom: 60px;
}

.story__btn {
  max-width: 300px;
  width: 100%;
  line-height: 1.2;
  background-color: #0aa566;
  margin-bottom: 130px;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
}

.story__btn::after {
  content: "";
  background-image: url(../assets/img/stor/arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 40px;
  top: 0;
  position: absolute;
}

.story__img {
  position: relative;
}

.story__pic {
  max-width: 585px;
  width: 100%;
}

.story__img::before {
  content: "";
  background-image: url(../assets/img/stor/pseudo.png);
  width: 290px;
  height: 215px;
  position: absolute;
  left: -165px;
  top: 20px;
}

.story__img:hover::before {
  transform: translateX(-130px) translateY(-130px) scale(0.65);
  transition: 4s;
}

.testimonials {
  background-color: #683119;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 115px 0 80px;
  position: relative;
}

.testimonials__wrapper::after {
  content: "";
  background-image: url(../assets/img/test/pseudo.png);
  width: 410px;
  height: 300px;
  position: absolute;
  top: -80px;
  right: -40px;
}

.testimonials__title {
  font-family: Muli-ExtraBold;
  line-height: 0.8;
}

.testimonials__comment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 120px 0;
  position: relative;
}

.testimonials__comment::before {
  content: "Sarah A";
  opacity: 0.6;
  font-family: Muli-ExtraBold;
  font-size: 200px;
  font-weight: 800;
  line-height: 0.2;
  letter-spacing: -4px;
  text-align: center;
  color: #5b210d;
  position: absolute;
  top: 5px;
  left: -150px;
}

.testimonials__span {
  color: #f2612d;
}

.testimonials__post {
  max-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  z-index: 1;
}

.testimonials__quote {
  color: #ffffff;
  line-height: 2.1;
  letter-spacing: -0.1px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.testimonials__cite {
  font-family: Muli-SemiBoldItalic;
  font-weight: 600;
  line-height: 1.2;
  color: #f7ae3b;
}

.testimonials__avatar {
  max-width: 220px;
  width: 100%;
  z-index: 1;
}

.testimonials__avatar:hover {
  transform: scale(1.4) rotate(360deg);
  transition: 3s;
}

.testimonials__arrow {
  width: 158px;
  display: flex;
  justify-content: space-between;
}

.blog__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 200px;
}

.blog__title {
  line-height: 0.8;
}

.blog__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.blog__img {
  max-width: 555px;
  width: 100%;
  position: relative;
}

.blog__img:hover {
  opacity: 0.2;
  transition: 3s;
}

.blog__pic {
  width: 100%;
}

.blog__img::after {
  content: "";
  background-image: url(../assets/img/blog/line.png);
  width: 687px;
  height: 12px;
  position: absolute;
  top: 70px;
  left: 510px;
  z-index: -1;
}

.blog__heading {
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: -0.6px;
  text-align: left;
  color: #f2612d;
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.blog__time {
  font-family: Muli-Regular;
  font-size: 16px;
  line-height: 2.19;
  text-align: left;
  color: #1e1e1e;
  margin-bottom: 45px;
  margin-left: 60px;
}

.blog__text {
  max-width: 472px;
  text-align: left;
  line-height: 1.94;
  margin-left: 125px;
}

.blog__link {
  text-decoration: none;
  position: relative;
}

.blog__link::after {
  content: "";
  background-image: url(../assets/img/blog/arrow.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 95px;
}

.blog__strong {
  font-family: Muli-ExtraBoldItalic;
  font-style: italic;
}

.instagram__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.instagram__title-list {
  align-self: center;
  text-decoration: none;
}

.instagram__title {
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: -0.48px;
  color: #0aa566;
  margin-bottom: 45px;
  position: relative;
}

.instagram__title::before {
  content: "";
  background-image: url(../assets/img/insta/icon-green.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -35px;
  top: 8px;
}

.instagram__galery {
  display: flex;
}

.instagram__img {
  max-width: 20%;
  position: relative;
  object-position: center;
  object-fit: cover;
}

.instagram__img:hover {
  transform: rotateZ(-360deg);
  /*
  transform: scale(1.1);
  */
  transition: 4s;
}

.instagram__pic {
  width: 100%;
}

.instagram__img::before {
  content: "";
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255)
  );
  opacity: 15%;
  max-width: 384px;
  width: 100%;
  height: 99%;
  position: absolute;
  left: 0;
  top: 0;
  /*
  display: block;
  max-width: 384px;
  width: 100%;
  height: 384px;
  position: absolute;
  left: 0;
  top: 0;
*/
}

.instagram__img::after {
  content: "";
  background-image: url(../assets/img/insta/icon-white.png);
  width: 26px;
  height: 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.footer__top {
  background-color: #f6a839;
  margin-top: 5px;
}

.footer__top-btn {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2662f;
  background-image: url(../assets/img/foot/foot-top/arrow-top.png);
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  /*
  right: 100px;
  */
  right: 5.21%;
  bottom: 70px;
  z-index: 1;
}

.footer__top-btn:hover {
  /*
  box-shadow: 0px 0px 30px 20px #535FED;
  */
  box-shadow: 0px 0px 30px 20px #f1f2f7;
}

.footer__top-wrapper {
  max-width: 1720px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0 95px;
}

.footer__logo-link {
  max-width: 207px;
  /*
  width: 100%;
  */
  margin-right: 297px;
}

.footer__logo {
  width: 100%;
}

.footer__content {
  max-width: 1215px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer__info-pay {
  display: flex;
}

.footer__info {
  margin-right: 152px;
}

.footer__title {
  font-size: 26px;
  line-height: 1.54;
  letter-spacing: -0.52px;
  color: #ffffff;
}

.footer__list {
  list-style-type: none;
  margin-top: 40px;
}

.footer__item {
  font-family: Muli-Bold;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: -0.36px;
  text-align: left;
  color: #6d450c;
}

.footer__link {
  text-decoration: none;
}

.footer__payment {
  max-width: 240px;
  margin-right: 166px;
}

.footer__pay {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  margin-top: 35px;
}

.footer__subscribe {
  max-width: 495px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*
  width: 495px;
  */
  /*
  width: 100%;
  */
}

.footer__form {
  /*
  max-width: 495px;
  width: 100%;
  */
  height: 60px;
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: 35px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer__form::before {
  content: "";
  background-image: url(../assets/img/foot/foot-top/mail.png);
  background-repeat: no-repeat;
  max-width: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 20px;
}

.footer__form-text {
  max-width: 215px;
  width: 100%;
  margin-left: 65px;
  font-family: Muli-Bold;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.34px;
  line-height: 2.06;
  text-align: left;
  color: #6d450c;
  border: none;
  outline: none;
}

.footer__btn-icon {
  display: flex;
  justify-content: flex-end;
}

.footer__form-btn {
  /*
  max-width: 105px;
  width: 100%;
  height: 12px;
  */
  font-family: Muli-ExtraBold;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.36px;
  color: #6d450c;
  background-color: transparent;
  border: none;

  margin-top: 35px;
  margin-right: 40px;
  position: relative;
  /*
  transform: translate(-95px, 70px);
  */
}

.footer__form-btn::before {
  content: "";
  background-image: url(../assets/img/foot/foot-top/arrow-down-right.png);
  background-repeat: no-repeat;
  max-width: 50px;
  width: 100%;
  height: 50px;
  position: absolute;
  left: -65px;
  top: -20px;
}

.footer__form-btn:hover {
  border: 1px solid #6d450c;
}

.footer__social {
  max-width: 110px;
  /*
  width: 100%;
  */
  align-self: flex-end;
  /*
  display: flex;
  width: 100%;
  /*
  transform: translate(330px, 25px);
  
  justify-content: flex-end;
  */
  margin-top: 25px;
  margin-right: 50px;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer__social-item:nth-child(n + 1) {
  margin-right: 25px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__bottom {
  background-color: #682819;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  position: relative;
  */
}

.footer__bottom::before {
  content: "Go top";
  font-family: Muli-Bold;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: -0.32px;
  text-align: left;
  color: #ffffff;
  position: fixed;
  right: 165px;
  bottom: 33px;
}

.footer__copyright {
  font-family: Muli-Regular;
  font-size: 13px;
  line-height: 2.69;
  letter-spacing: 0.26px;
  color: #af8a82;
  margin-top: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1820px) {
  .testimonials__wrapper::after {
    display: none;
  }
}

@media screen and (max-width: 1727px) {
  .footer__logo-link {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .footer__top-wrapper {
    padding: 50px 0 50px;

    flex-direction: column;
  }

  .footer__infopay {
    flex-direction: row;
  }
}

@media screen and (max-width: 1415px) {
  /* Секция Header */
  .header__nav-bay {
    display: none;
  }

  .header__burger-btn {
    display: initial;
  }
}

@media screen and (max-width: 1223px) {
  .footer__logo-link {
    margin-right: 0;
  }

  .footer__content {
    flex-direction: column;
    /*
    justify-content: center;
    */
    align-items: center;
  }

  .footer__top-wrapper {
    padding-bottom: 80px;
  }

  .footer__subscribe {
    margin-top: 50px;
  }

  .footer__payment {
    margin-right: 0;
  }
}

@media screen and (max-width: 1205px) {
  .blog__img::after {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .testimonials__comment::before {
    display: none;
  }
}

@media screen and (max-width: 935px) {
  .story__img::before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 45px;
    line-height: 1.2;
  }

  .text {
    font-size: 17px;
  }

  /* Секция Header */

  /*
  
  .header__nav-bay {
    display: initial;
    background-color: #0aa566;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .header__buy {
    margin-top: 200px;
    margin-bottom: 120px;
  }

  .header__nav {
    flex-direction: column;
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__nav-item:nth-child(n + 1) {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .header__personal {
    margin-bottom: 0;
  }

  .header__personal-item-cart {
    margin-right: 0;
  }

  .header__social::before {
    content: "";
    background-color: #ffffff;
    max-width: 47px;
    width: 100%;
    height: 2px;
    position: absolute;
    left: -85px;
    top: 15px;
  }

  .header__burger-btn {
    background-color: #7dc2a5;
    z-index: 10;
  }
  
  */

  /* Секция Smoothies */

  .smoothies__wrapper {
    padding: 50px 10px 50px;
  }

  .smoothies__title {
    margin-bottom: 25px;
  }

  .smoothies__text {
    margin-bottom: 30px;
  }

  .smoothies__block {
    max-width: 505px;
  }

  .smoothies__unit {
    width: 50%;
  }

  .smoothies__unit:nth-child(1n + 1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
  }

  .smoothies__unit:nth-child(2n + 2) {
    border-right: none;
  }

  .smoothies__unit:nth-child(n + 7) {
    border-bottom: none;
  }

  .smoothies__img {
    margin-top: 25px;
  }

  .smoothies__heading {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  /* Секция About */

  .about__content {
    margin-left: 25px;
    margin-right: 25px;
  }

  .about__title {
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 25px;
  }

  .about__span::after {
    display: none;
  }

  .about__list {
    margin-top: 40px;
  }

  .about__item {
    font-size: 20px;
  }

  .about__btn {
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 60px;
  }

  .about__btn::after {
    right: 25px;
    width: 70%;
    height: 70%;
  }

  /* Секция Products */

  .products__wrapper {
    overflow-x: auto;
  }

  .products__cart {
    min-width: 280px;
    width: 100%;
    padding: 50px 5px 50px;
  }

  .products__heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .products__capacity {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .products__btn {
    padding-left: 35px;
  }

  /* Секция Story */

  .story__wrapper {
    padding: 50px 0 50px;
  }

  .story__content {
    margin-right: 0;
  }

  .story__title {
    margin-top: 0;
  }

  .story__btn {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .story__img {
    margin-top: 50px;
  }

  /* Секция Testimonials */

  .testimonials__wrapper {
    padding: 50px 0 50px;
  }

  .testimonials__comment {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }

  .testimonials__title {
    text-align: center;
  }

  .testimonials__post {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .testimonials__avatar {
    margin-top: 50px;
  }

  /* Секция Blog */

  .blog__wrapper {
    padding: 50px 0 50px;
  }

  .blog__heading {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .blog__time {
    margin-left: 0;
  }

  .blog__text {
    margin-left: 70px;
  }

  .blog__link::after {
    display: none;
  }

  .blog__img {
    max-width: 100%;
  }

  /* Секция Instagram */

  .instagram__title {
    line-height: 1.67;
    font-size: 22px;
  }

  .instagram__galery {
    overflow-x: auto;
  }

  .instagram__img {
    min-width: 280px;
  }

  /* Секция Footer */

  .footer__title {
    font-size: 26px;
  }
  /*
  .footer__social {
    margin-right: 2.6%;
  }
  */
}

@media screen and (max-width: 610px) {
  .footer__bottom::before {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .footer__info-pay {
    flex-direction: column;
  }
  .footer__info {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 440px) {
  .header__buy {
    flex-direction: column;
  }

  .header__social::before {
    display: none;
  }

  .header__personal {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 400px) {
  .footer__social {
    margin-right: 25px;
  }

  .footer__top-wrapper {
    padding-bottom: 60px;
  }

  .header__logo {
    top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 30px;
  }

  .text {
    font-size: 15px;
  }

  /* Секция Smoothie */

  .smoothies__container {
    padding: 25px 5px 25px;
  }

  .smoothies__title {
    margin-bottom: 15px;
  }

  .smoothies__text {
    margin-bottom: 20px;
  }

  .smoothies__unit {
    width: 50%;
  }

  .smoothies__unit:nth-child(1n + 1) {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
  }

  .smoothies__unit:nth-child(2n + 2) {
    border-right: none;
  }

  .smoothies__unit:nth-child(n + 7) {
    border-bottom: none;
  }

  .smoothies__img {
    max-width: 45px;
    width: 100%;
    margin-top: 20px;
  }

  .smoothies__heading {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  /* Секция About */

  .about__content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about__title {
    font-size: 30px;
    margin-top: 130px;
    margin-bottom: 25px;
  }

  .about__item {
    font-size: 19px;
  }

  .about__btn {
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 50px;
  }

  /* Секция Blog */

  .blog__link::after {
    display: initial;
  }

  /* Секция Instagram */

  .instagram__title {
    font-size: 22px;
  }

  /* Секция Footer */

  .footer__social {
    margin-right: 0;
  }

  .footer__form-btn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 315px) {
  .footer__form-btn::before {
    display: none;
  }

  .footer__btn-icon {
    justify-content: center;
  }

  .footer__form-text {
    margin-left: 60px;
    font-size: 15px;
  }
}

@media screen and (max-width: 250px) {
  .header__btn {
    font-size: 22px;
    padding-left: 20px;
  }

  .header__btn::after {
    right: 30px;
  }
}