@mixin btn {
    display: block;
    text-decoration: none;
    height: 60px;
    border-radius: 30px;
    font-family: Muli-ExtraBold;
    font-weight: 800;
    font-size: 21px;
    color: #ffffff;
}

@mixin headerBtn {
    font-family: Schwabacher;
    font-size: 21px;
}

@mixin bgAbout {
    background-color: lightblue;
}