
// В этом Файле _variables.scss Можно изменить ЗНАЧЕНИЕ (после Двоеточия) переменной $fontFamilyText или $fontFamilyTitle,
// на Тестовое значение шрифта Schwabacher и во Всём макете изменится шрифт Текста или Заголовков//


// Тестовый шрифт    $fontFamily: Schwabacher;


$fontFamilyText: Muli-Regular;


$fontFamilyTitle: Muli-ExtraBold;


$colorHeaderBtn: #0aa566;