@font-face {
    font-family: "Muli-Bold";
    src: url("/assets/fonts/woff2/Muli-Bold.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Muli-BoldItalic";
    src: url("/assets/fonts/woff2/Muli-BoldItalic.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-BoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "Muli-ExtraBold";
    src: url("/assets/fonts/woff2/Muli-ExtraBold.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-ExtraBold.woff") format("woff");
  }

  @font-face {
    font-family: "Muli-Italic";
    src: url("/assets/fonts/woff2/Muli-Italic.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-Italic.woff") format("woff");
  }

  @font-face {
    font-family: "Muli-Regular";
    src: url("/assets/fonts/woff2/Muli-Regular.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Muli-SemiBoldItalic";
    src: url("/assets/fonts/woff2/Muli-SemiBoldItalic.woff2") format("woff2"),
      url("/assets/fonts/woff/Muli-SemiBoldItalic.woff") format("woff");
  }

  @font-face {
    font-family: "MyriadPro";
    src: url("/assets/fonts/woff2/MyriadPro-Regular.woff2") format("woff2"),
      url("/assets/fonts/woff/MyriadPro-Regular.woff") format("woff");
  }

  
  // Готический шрифт Schwabacher

  @font-face {
    font-family: "Schwabacher";
    src: url("/assets/fonts/woff2/Schwabacher.woff2") format("woff2"),
      url("/assets/fonts/woff/Schwabacher.woff") format("woff");
  }