.logo {
    max-width: 270px;
    width: 100%;
    animation: blink 0.2s linear 10;

    &:hover {
        //: blink 0.2s linear 5;
        //opacity: 0;
        //transition: 2s;
        /*
        box-shadow: 0px 0px 30px 20px #f1f2f5;
        */
    }
}

    @keyframes blink {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }

