.title {
    font-family: $fontFamilyTitle;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #f7ae3b;

    &:hover {animation: title-animation 0.3s linear infinite both;}
}

@keyframes title-animation {
    0% {transform: translate(0);}
    20% {transform: translate(-2px, 2px);}
    40% {transform: translate(-2px, -2px);}
    60% {transform: translate(2px, 2px);}
    80% {transform: translate(2px, -2px);}
    100% {transform: translate(0);}
}
