.about {
    background-color: #12836f;


// Этот миксин Делает бекграунд цвет для .about Голубым.

//@include bgAbout;


    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 65px;
        margin-left: -50px;
    }

    &__img {
        max-width: 690px;
        width: 100%;
        //transform: translateY(85px);
        margin-bottom: -85px;
        z-index: 1;

        //&:hover {
            //transform: rotate(-7deg);
            /*
            opacity: 0;
            */
            //transition: 1.5s;
        //}

    }

    &__content {
        max-width: 590px;
        margin-left: 140px;
        margin-right: 145px;
    }

    &__title {
        font-size: 55px;
        line-height: 1.09;
        letter-spacing: -1.1px;
        color: #ffffff;
        margin-top: 30px;
    }

    &__span {
        color: #cae941;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/about/line.png);
            width: 450px;
            height: 13px;
            position: absolute;
            left: -10px;
            top: 60px;
        }

    }

    &__list {
        margin-left: 37px;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    &__item {
        list-style-image: url(./../images/about/icon.png);
        font-family: MuliMuli-ExtraBold;
        font-size: 21px;
        line-height: 2;
        color: #ffffff;
        padding-left: 10px;
    }

    &__btn {

        @include btn;

        max-width: 380px;
        width: 100%;
        line-height: 1.2;
        border: solid 2px #f8b231;
        display: flex;
        align-items: center;
        padding-left: 30px;
        margin-bottom: 95px;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/about/arrow.png);
            background-position: right;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            right: 40px;
        }

    }

}