.footer {

    &__top {
        background-color: #f6a839;
        margin-top: 5px;
    }

    &__top-wrapper {
        max-width: 1720px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 80px 0 95px;
    }

    &__top-btn {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: #f2662f;
        background-image: url(./../images/foot/foot-top/arrow-top.png);
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        /*
        right: 100px;
        */
        right: 5.21%;
        bottom: 55px;
        z-index: 1;

        &:hover {
            /*
            box-shadow: 0px 0px 30px 20px #535FED;
            */
            box-shadow: 0px 0px 30px 20px #f1f2f7;
        }
    }

    &__logo-link {
        max-width: 207px;
        /*
        width: 100%;
        */
        margin-right: 297px;
    }

    &__logo {
        width: 100%;
    }

    &__content {
        max-width: 1215px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__info-pay {
        display: flex;
    }

    &__info {
        margin-right: 152px;
    }

    &__title {
        font-size: 26px;
        line-height: 1.54;
        letter-spacing: -0.52px;
        color: #ffffff;
    }

    &__list {
        list-style-type: none;
        margin-top: 40px;
    }

    &__item {
        font-family: Muli-Bold;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.7;
        letter-spacing: -0.36px;
        text-align: left;
        color: #6d450c;
    }

    &__link {
        text-decoration: none;
    }

    &__payment {
        max-width: 240px;
        margin-right: 166px;
    }

    &__pay {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        align-items: center;
        margin-top: 35px;
    }

    &__subscribe {
        max-width: 495px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /*
        width: 495px;
        */
        /*
        width: 100%;
        */
    }

    &__form {
        /*
        max-width: 495px;
        width: 100%;
        */
        height: 60px;
        border-radius: 30px;
        background-color: #ffffff;
        margin-top: 35px;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            background-image: url(./../images/foot/foot-top/mail.png);
            background-repeat: no-repeat;
            max-width: 25px;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 25px;
            top: 20px;
        }

    }

    &__form-text {
        max-width: 215px;
        width: 100%;
        margin-left: 65px;
        font-family: Muli-Bold;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -0.34px;
        line-height: 2.06;
        text-align: left;
        color: #6d450c;
        border: none;
        outline: none;
    }

    &__btn-icon {
        display: flex;
        justify-content: flex-end;
    }

    &__form-btn {
        /*
        max-width: 105px;
        width: 100%;
        height: 12px;
        */
        font-family: Muli-ExtraBold;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.4;
        letter-spacing: -0.36px;
        color: #6d450c;
        background-color: transparent;
        border: none;

        margin-top: 35px;
        margin-right: 40px;
        position: relative;
        /*
        transform: translate(-95px, 70px);
        */

        &::before {
            content: "";
            background-image: url(./../images/foot/foot-top/arrow-down-right.png);
            background-repeat: no-repeat;
            max-width: 50px;
            width: 100%;
            height: 50px;
            position: absolute;
            left: -65px;
            top: -20px;
        }

        &:hover {
          border: 1px solid #6d450c;
        }

    }

    &__social {
        max-width: 110px;
        /*
        width: 100%;
        */
        align-self: flex-end;
        /*
        display: flex;
        width: 100%;
        /*
        transform: translate(330px, 25px);

        justify-content: flex-end;
        */
        margin-top: 25px;
        margin-right: 50px;
    }

    &__social-list {
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__social-item {

        &:nth-child(n + 1) {
            margin-right: 25px;
        }

        &:last-child {
            margin-right: 0;
        }

    }

    &__bottom {
        background-color: #682819;
        display: flex;
        justify-content: center;
        align-items: center;
        /*
        position: relative;
        */

        &::before {
            content: "Go top";
            font-family: Muli-Bold;
            font-size: 16px;
            font-weight: bold;
            line-height: 2.5;
            letter-spacing: -0.32px;
            text-align: left;
            color: #ffffff;
            position: fixed;
            right: 165px;
            bottom: 20px;
        }

    }

    &__copyright {
        font-family: Muli-Regular;
        font-size: 13px;
        line-height: 2.69;
        letter-spacing: 0.26px;
        color: #af8a82;
        margin-top: 25px;
        margin-bottom: 20px;
    }

}