.instagram__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .instagram__title-list {
    align-self: center;
    text-decoration: none;
  }
  
  .instagram__title {
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: #0aa566;
    margin-bottom: 45px;
    position: relative;
  }
  
  .instagram__title::before {
    content: "";
    background-image: url(./../images/insta/icon-green.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35px;
    top: 8px;
  }

  .instagram__galery {
    display: flex;
  }
  
  .instagram__img {
    max-width: 20%;
    position: relative;
    object-position: center;
    object-fit: cover;
  }
  
  .instagram__img:hover {
    transform: rotateZ(-360deg);
    /*
    transform: scale(1.1);
    */
    transition: 4s;
  }
  
  .instagram__pic {
    width: 100%;
  }

  .instagram__img::before {
    content: "";
    background: linear-gradient(
      to top left,
      rgba(51, 50, 50, 0),
      rgba(255, 255, 255, 0.8)
    );
    opacity: 15%;
    max-width: 384px;
    width: 100%;
    height: 99%;
    position: absolute;
    left: 0;
    top: 0;
    /*
    display: block;
    max-width: 384px;
    width: 100%;
    height: 384px;
    position: absolute;
    left: 0;
    top: 0;
  */
  }

  .instagram__img::after {
    content: "";
    background-image: url(./../images/insta/icon-white.png);
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }